<!-- GFS.com Homepage PRODUCT / PROJECT -->

<div class="landing">


<div class="project-intro">

<!-- CONTAINER START -->
<div class="about-container">

  <h2 class="about-intro">A strategic redesign of the GFS.com/ca homepage.</h2>

  <p class="about-content">
     Role: UX Researcher, UX and UI Designer | Gordon Food Service
  </p>
  <p class="about-content">
     GFS.com  |  View at <a href="https://www.gfs.com">gfs.com</a> or <a href="https://www.gfs.ca">gfs.ca</a> 
     <br>2018
  </p>

</div>
</div>

<div class="project-description">

<!-- CONTAINER START -->
<div class="about-container work-content">

  <h3>The Project</h3>
  <p class="about-content">
     GFS.com, historically had been managed by the development team charged with building it. The site has long served as the gateway for customers, job seekers, and a place to promote generic offerings from Gordon Food Service.
     <br>
     <br>
     In 2017, a newly formed Digital Marketing team took business and product ownership of GFS.com, and set a new strategic vision for it. In the summer of 2018, we began work on a new GFS.com homepage, as part of an incremental overhaul. 
     <br>
     <br>
     <strong>Goal:</strong> Convert the existing GFS.com from a generic landing page, to a flexible product focused promotional hub that can generate both sales and leads.
     <br>
     <br>
  </p>

  <h3>Research</h3>
  <p class="about-content">
      Prior the start of the project, I had the opportunity to conduct user interviews with a variety of our customers. My company hosts several food industry trade shows across the country each fall, and spring. The shows allow almost unlimited access to our different customer types. You may ask - why did he conduct research prior to the project kickoff? I knew we would eventually tackle the homesite, and it would have been a miss to not talk to customers when they were all in one place, face to face.
     <br>
     <br>
     When several customers were asked questions such as "How do you use GFS.com?" or "What do you do when visiting GFS.com?", a pattern became very clear. 
     <br>
     <br>
     Here are some of the quotes from customers:
     <br>
     <br>
     <ul>
        <li>"I don't really have a need for GFS.com. I just bookmarked the link for Online Ordering so I can sign in."</li>
        <li>"I just use your homepage to for the login. Might be nice to see some promotions there though."</li>
        <li>"I don't have much use for GFS.com, but you know what would be nice there - a community forum. A place for customers to interact with one another."</li>
     </ul> 
     <br>
     <strong>Key Discovery:</strong> Existing customers were only visiting the homepage to login to our eCommerce platform, and found no value in the existing content.
     <br>
     <br>
     Competitive Analysis - two sites I focused on in particular were baldorfood.com and row7seeds.com. Baldor Foods is a smaller B2B food distributor out of Brooklyn, NY,  and Row 7 Seeds is a more non-traditional and smaller operation that still manages to offer a sophisticated experience. Two areas that both businesses excel in are their abilities to tell a story from the homepage, and the ability to weave strong product offerings in the process.
     <br>
     <br>
  </p>

  <h3>User Flow</h3>
  <p class="about-content">
     For this project, I focused more on the user flow. My research, combined with analytics supported some of the steps that would follow. This user flow also takes into consideration three prime functions for the homepage - (1) funneling existing customers into our eCommerce platform via product ads, (2) funneling new customers down a new customer inquiry path, and (3) into our product categories page which is one of the highest visited pages for GFS.com.
     <br>
     <br>
  </p>

  <img src="../images/homepage-user-flow.png" id="gn-sample" class="sample-padding">

  <h3>UI Design</h3>
  <p class="about-content">
     Infusing the homepage with product imagery was a big component of the redesign. Working with the Digital Marketing team, we worked through various iterations before landing on a final look and function. 
     <br>
     <br>
     Some elements of UI, utilize material design and other aspects are more custom in design. The red is the global brand color for Gordon Food Service, while elements like font and interactions are part of the evolving digital design standards. Some user testing was performed via First Click tests using Optimal Workshop.
     <br>
     <br>
  </p>

  <h3>Old GFS.com</h3>

  <img src="../images/old-homepage.png" id="gn-sample" class="sample-padding">

  <h3>Iterations</h3>

  <img src="../images/homepage-iterations.png" id="gn-sample" class="sample-padding">

  <h3>New GFS.com</h3>
  <p class="about-content">
     This is the final UI version for the homepage. This version is a lot more simplistic, and focuses on promoting the products through strong imagery and minimal but intentional copy. Scroll time has also been decreased here as well. It was designed as fluid layout that would render easily between desktop and mobile with little loss in quality. Lastly, during the design phase, the pod overlay contrast ratios were tested for accessibility.  
     <br>
     <br>
  </p>

  <img src="../images/new-homepage.png" id="gn-sample" class="sample-padding">

  <h3>US and Canada Production View</h3>

  <img src="../images/us-ca-versions.png" id="gn-sample" class="sample-padding">

  <h3>Result</h3>
  <p class="about-content">
     October 23, 2018 the new homepage was released in the US and Canada. This is the first step in an incremental, multiphase overhaul of the entire site. My work is far from over for this project. Website data and customer feedback, will continue to aid us in prioritizing the most valuable pages to work on in each future phase. 
     <br>
     <br>
     Feedback has been positive, and the product ad pods are performing well and being linked to increased case sales for the specific promoted products.
     <br>
     <br>
  </p>
  
</div>
</div>


<!-- SITE CREATOR INFO --> 

<!-- 
Title: Dana Thomas | UX Designer
Description: Online Web and Design Portfolio
Author: Dana Thomas
Author URL: http://www.dnathoms.co/
Tags: user interface, experience, visual design, web
-->





