<!-- GFS Digital Style Guide PROJECT -->

<div class="landing">


<div class="project-intro">

<!-- CONTAINER START -->
<div class="about-container">

  <h2 class="about-intro">Digital Marketing Email Templates</h2>

  <p class="about-content">
     Role: UI Designer | Gordon Food Service
  </p>
  <p class="about-content">
     Branding and visual design, for a digital marketing email template refresh.
     <br>2018.
  </p>

</div>
</div>

<div class="project-description">

<!-- CONTAINER START -->
<div class="about-container work-content">

  <h3>Out with the same, In with variety</h3>
  <p class="about-content">

		For this project, I partnered with a recently formed Digital Marketing and Strategy team at Gordon Food Service. One area of focus for the team was email marketing. The existing email template featured the same content pod for each feature in the email. It wasn’t super engaging and focused more on content. With a new vision and strategy, the Digital Marketing team wanted to focus more on product storytelling, spotlight features and increased profit from paid ad spots.
		<br>
		<br>
		Through several iterations and reviews, a new template style was chosen and has since been built. The expected launch is slated for May 2018. Part of the new strategy involves utilizing a variety of email templates instead of one. This will allow for more personalized and functional emails. Future templates will include - new product introduction email template, templates that focus more on recipes or run the business content, and more.
		<br>
		<br>
		<strong>Key Goals:</strong> Set the stage for multiple email template types. Increase open and click through rates, and increase profit via paid ad spots and clear add to cart call-to-action opportunities.
		 <br>
		 <br>
  </p>

  	<img src="../images/dm-email-feature.png" id="gn-sample">
  
</div>

</div>


<!-- SITE CREATOR INFO --> 

<!-- 
Title: Dana Thomas | UX Designer
Description: Online Web and Design Portfolio
Author: Dana Thomas
Author URL: http://www.dnathoms.co/
Tags: user interface, experience, visual design, web
-->