body {
  background-color: #fff;
  font-family: "Quicksand", "Helvetica", sans-serif;
  padding: 0; margin: 0;
  text-align: center;
}

// SASS 

$main-text: 'Quicksand', sans-serif;
$primary-grn: #1BA39C;
$accent-grn: #4ECDC4;
$accent-red: #D91E18;
$hover-color: #cf000f;

a {
  color: #fff;
  font-family: $main-text;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: 0.9px;
  font-size: 1em;
}

  .link {
    display: inline-block;
    padding: 0;
    margin-left: 16px;

  &:hover {
    border-bottom: 2px solid $accent-red;
    transition: border 0.1s ease-in-out;
    margin-bottom: -2px;
    cursor: arrow;
    }
  }

h1, h2, h3, p {
  font-weight: 300;
}

h1 {
  font-size: 3.375em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 1.5em;
}

p {
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 0.9px;
}

.button {
    color: #fff;
    border: 1px solid $accent-grn;
    border-radius: 3px;
    padding: 1.5em 3.5em;
    margin: 0 auto; 

    &:hover {
      border: 1px solid $accent-red;
      transition: color 2.5s ease-in-out;
      cursor: pointer;
    }
}

.sample-padding {
  padding-bottom: 4em;
}


// NAVIGATION --------------------------

header {
  color: #4ECDC4;
  background: #202932;
  width: 100%; height: 2em;
  padding-top: 1em;
}

nav {
  color: #4ECDC4;
  background: #202932;
  text-align: right;
  padding: 1em 0;
  margin: 0 2.5em;
}

  .logo {
    width: 24px; height: 24px;
    float: left;
    opacity: 0.5;
  }


// INTRO SECTION --------------------------

.landing {
  background: #202932;
  width: 100%; height: 46em;
  padding: 15px 0;
  margin-bottom: 4em;
}

  .landing-container {
    padding: 10em 2rem;
    margin: auto;
  }

  .landing-intro {
    color: #fff;
    font-weight: 100;
    line-height: 2em;
    letter-spacing: 0.9px;
    margin-bottom: 6em;
  }

    .aqua {
      color: $primary-grn;
    }


// PROJECT CONTENT SECTION --------------------------


.project {
  background: #fff;
  max-width: 900px;
  margin: 8em auto 6em auto;
}

.project-title {
  color: #151515;
  text-align: center;
}

.project-caption {
  color: #151515;
  text-align: center;
}
  .social2 {
    color: #151515;
    margin: 0;
    border-bottom: 2px solid $accent-red;
  }

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}

.card {
  width: 400px;
  min-height: 275px;
  border-radius: 4px !important;
  margin: 2.75em 1em;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    &:hover {
      -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      -moz-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
}

.card-image {
  background: #212121;
  width: 100%; height: 100%;
  background-size: cover;
  background-blend-mode: overlay;
  border-radius: 1px;
  padding: 0;
  margin: 0;
}

.card-title {
  color: #363636;
  font-family: $main-text;
  padding: 0 1em;
}

// Card image placement

    .pnc {
      background: url("../images/pnc-web.png");
      background-position: 50%;
    }
    .gn {
      background: url("../images/homepage-panel.png");
      background-position: 50%;
    }
    .spcentral {
      background: url("../images/mc-panel.png");
      background-position: 50%;
    }
    .gfsdm {
      background: url("../images/acm-panel.png");
      background-position: 50%;
    }
    .ssapp {
      background: url("../images/streetsmart-panel.png");
      background-position: 40%;
    }

    .logotypes {
      background: url("../images/style-guide-panel.png");
      background-repeat: no-repeat;
      background-position: 50%;
    }

    .menu-update {
      background: url("../images/gfs.com-menu.png");
      background-repeat: no-repeat;
      background-position: 50%;
    }


// End ----------------------------------



// RETURN BUTTON --------------------------

.btn-return {
  margin: 0 auto 3em auto; 
}

  // .return {
  //  position: relative;
  //  left: 35rem;
  // }

  .return:hover {
    transition: 0.1s ease-in-out;
    cursor: arrow;
  }

// ABOUT SECTION --------------------------

.about {
  text-align: left;
  background: #202932; /* Old browsers */
  background: -moz-linear-gradient(top, #202932 0%, #10323f 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #202932 0%,#10323f 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #202932 0%,#10323f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202932', endColorstr='#10323f',GradientType=0 ); /* IE6-9 */
  max-width: 100%; height: auto;
  padding: 2rem 5rem 3rem 5rem; 
  margin: 0 auto;
}

  .about-container {
    color: #eee;
    text-align: left;
    line-height: 2.5em; 
    letter-spacing: 0.3px;
    margin: 0 auto;
    max-width: 790px;
  }

  .about-intro {
    line-height: 1.3em;
  }

  .about-content {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.5em;
  }

// Email Static and Hover States

.email {
  font-size: 1.1em;
  border-bottom: 1px solid #fff;
  padding-bottom: 6px;

  &:hover {
    color: $accent-red;
    transition: color 0.2s ease-in-out;
    margin-bottom: -2px;
    cursor: arrow;
  }
}

.social {
  margin: 0;
}


// FOOTER --------------------------

footer {
  color: #fff;
  font-size: 0.9em;
  font-weight: 300;
  background: $primary-grn;
  max-width: 100%; height: auto;
  padding: 1.5rem 2.5rem 1em 2.5em; 
  margin: auto;
}
  
  .footer-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }


// MEDIA QUERIES --------------------------

@media (max-width: 640px) {


.link {
  font-size: 0.9em;
  margin: 0 8px;
}

header {
    text-align: center;
  }

// INTRO SECTION --------------------------

.landing {
  background: #202932;
  width: 100%; height: 46em;
  padding: 15px 0;
  margin-bottom: 4em;
}

  .landing-container {
    padding: 1em 1rem 7em 1rem;
    margin: auto;
  }

  .landing-intro {
    color: #fff;
    font-weight: 100;
    line-height: 4em;
    letter-spacing: 0.9px;
    margin-bottom: 6em;
  }

    .landing-caption {
      line-height: 1.5em !important;
    }

    .aqua {
      color: $primary-grn;
    }

// PROJECT CONTENT SECTION --------------------------

.project {
  max-width: 900px;
  padding: 0 24px;
  margin: 3em auto;
}

// ABOUT SECTION --------------------------

.about {
  text-align: left;
  background: #202932;
  max-width: 100%; height: auto;
  padding: 1rem 2rem 3rem 2rem; 
  margin: 0 auto;
}  

  .email {
    font-size: 1.1em;
    border-bottom: none;
    padding-bottom: 0;
  }

  .social {
    margin: 0;
  }

// FOOTER --------------------------
  
.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
}


// Project Page --------------------------

 

}

.project-intro {
  text-align: left;
  background: #202932;
  max-width: 100%; height: auto;
  padding: 3rem 2rem 3rem 2rem; 
  margin: 0 auto;
} 

.project-description {
  text-align: left;
  color: #151515;
  background: #f1f1f1;
  max-width: 100%; height: auto;
  padding: 1rem 2rem 3rem 2rem; 
  margin: 0 auto;
} 

.work-content {
  color: #151515;
}

#gn-sample {
  width: 100%; height: auto;
}









