<!-- Digital Marketing Emails PRODUCT / PROJECT -->

<div class="landing">


<div class="project-intro">

<!-- CONTAINER START -->
<div class="about-container">

  <h2 class="about-intro">Email Templates</h2>

  <p class="about-content">
     Role: UI Designer | Gordon Food Service
  </p>
  <p class="about-content">
     Branding and visual design, for a digital marketing email template refresh.
     <br>2018.
  </p>

</div>
</div>

<div class="project-description">

<!-- CONTAINER START -->
<div class="about-container work-content">

  <img src="../images/email-both.png" id="gn-sample">
  
</div>

</div>


<!-- SITE CREATOR INFO --> 

<!-- 
Title: Dana Thomas | UX Designer
Description: Online Web and Design Portfolio
Author: Dana Thomas
Author URL: http://www.dnathoms.co/
Tags: user interface, experience, visual design, web
-->