<!-- StreetSmart PRODUCT / PROJECT -->

<div class="landing">


<div class="project-intro">

<!-- CONTAINER START -->
<div class="about-container">

  <h2 class="about-intro">StreetSmart</h2>

  <p class="about-content">
     Role: UX Researcher, UX and UI Designer | Gordon Food Service
  </p>

  <p class="about-content">
     A customer management and item pricing application, used by the internal sales team at Gordon Food Service.
     <br>2017 - 2018.
  </p>

</div>
</div>

<div class="project-description">

<!-- CONTAINER START -->
<div class="about-container work-content">

  <h3>Nine years and no updates</h3>
  <p class="about-content">
		StreetSmart, is a tool used the CDS (Customer Development Specialist) reps at Gordon Food Service. Ideally, they use the tool to complete customer pricing before traveling out to meet customers for consultations. When I joined the project in 2017, the app had been in existence for 9 years with no major updates. Showing its age and becoming more of a hindrance than helper, the sales management team was very eager for a total redesign and rebuild.
  </p>

  <h3>Research and Discovery</h3>
  <p class="about-content">
     For this project, the upfront research and strategy period was very limited. A design charrette was hosted, as a way to get initial buy-in and input from the business stakeholders and development. Unfortunately, I did not have the opportunity to shadow the users in person. However, a recording was provided where I was able to watch a CDS rep walk through the application. He demonstrated his normal process, shortcuts to get around obstacles and spoke about common pain points. Lastly, a member of the stakeholder team is a former CDS turned home office manager, and provided additional insight as well. Taking my learnings from each space, I was able to lay out an initial foundation for the application.
     <br>
     <br>
     <strong>Key Discoveries:</strong> The older, antiquated interface discouraged CDS reps from fully completing their pricing activities before meeting with customers. Mental fatigue in the app was a prime issue. This resulted in missed opportunities and lost profit. From a high level, the app also did not provide any insight into how pricing decisions could impact a CDS rep’s commission pay.
     Key Discovery: The platform was easy to use, but some of the labels and functionality needed more clarity.
  </p>

  <h3>Wireframing, Prototyping, Developing a New UI</h3>
  <p class="about-content">
     With this project, a lot of time was spent with the sales management team. We discussed functionality, new business processes and concepts which would launch with the app, data hierarchy, and more. After gathering knowledge and data in the research phase, I created a set of wireframes to present to the business and development teams. These were crucial during early discussions around what a new application might look and feel like. We went through many iterations before proceeding to the high fidelity UI designs.
     <br>
     <br>
     At certain points throughout the process, I prototyped specific scenarios or features in InVision to help guide conversations around different functionality. Using InVision for stakeholder review and feedback was key throughout the process.Zeplin was used to collaborate with the development team. 
     <br>
     <br>
     After a period, a new UI was unveiled for the team. For internal applications at GFS, Google Material Design is the standard UI approach. Moving into a full color, hi-def version of the application greatly helped the conversations as features become more realistic, and the application started to come to life.
  </p>

  <h3>Follow Up and Pilot Phase</h3>
  <p class="about-content">
     Using both InVision prototypes, and production versions of the app, we were able to gather feedback from the end users, the CDS reps. This of course, informed the designed and allowed the development team to make changes as well. 
     <br>
     <br>
     Currently, StreetSmart has gone through a stage 1 beta phase, and is now in phase 2 as it is progressively rolled out to new users. 
     <br>
     <br>
     <strong>ROI:</strong> The business stakeholder team, has reported better performance and more efficient pricing since rolling out the app in it’s initial beta phase.
     <br>
     <br>
     Below, is an early wireframe concept screen for the app.
     <br>
     <br>
  </p>

  <img src="../images/ss-concept.png" id="gn-sample">

</div>
</div>


<!-- SITE CREATOR INFO --> 

<!-- 
Title: Dana Thomas | UX Designer
Description: Online Web and Design Portfolio
Author: Dana Thomas
Author URL: http://www.dnathoms.co/
Tags: user interface, experience, visual design, web
-->