<!-- StreetSmart PRODUCT / PROJECT -->

<div class="landing">


<div class="project-intro">

<!-- CONTAINER START -->
<div class="about-container">

  <h2 class="about-intro">StreetSmart</h2>

  <p class="about-content">
     Role: UX Researcher, UX and UI Designer | Gordon Food Service
  </p>

  <p class="about-content">
     A customer management and item pricing application, used by the internal sales team at Gordon Food Service.
     <br>2017 - 2018.
  </p>

</div>
</div>

<div class="project-description">

<!-- CONTAINER START -->
<div class="about-container work-content">

  <h3>Nine years and no updates</h3>
  <p class="about-content">
		StreetSmart, is a tool used the CDS (Customer Development Specialist) reps at Gordon Food Service. Ideally, they use the tool to complete customer pricing before traveling out to meet customers for consultations. When I joined the project in 2017, the app had been in existence for 9 years with no major updates. Showing its age and becoming more of a hindrance than helper, the sales management team was very eager for a total redesign and rebuild.
  </p>

  <h3>Prototyping and User Testing</h3>
  <p class="about-content">
     Working with the business, I was able to secure two vendor partners to test with. For this, I created an InVision prototype for the users to click through. I observed and noted any questions, hesitations other behaviors. After the observation, I was able to interview our users for more feedback.
     <br>
     <br>
     Key Discovery: The platform was easy to use, but some of the labels and functionality needed more clarity.
  </p>

  <h3>UI Design, Production and Follow Up</h3>
  <p class="about-content">
     Supplier Central today, features a central dashboard where SaaS solutions will soon be available. It also houses essential documents for vendor engagement. 
     <br>
     At the request of the business, a follow up user feedback forum was conducted. Unfortunately, there was not enough functionality in production to yield strong feedback.
     <br>
     <br>
     <strong>Future State:</strong> More functionality may be added to Supplier Central, but that is currently under review.
  </p>

  <img src="../images/spc-sketches.png" id="gn-sample">

</div>
</div>


<!-- SITE CREATOR INFO --> 

<!-- 
Title: Dana Thomas | UX Designer
Description: Online Web and Design Portfolio
Author: Dana Thomas
Author URL: http://www.dnathoms.co/
Tags: user interface, experience, visual design, web
-->