<!-- MarketConnection PROJECT -->

<div class="landing">


<div class="project-intro">

<!-- CONTAINER START -->
<div class="about-container">

  <h2 class="about-intro">Improving product training and onboarding for sales reps</h2>

  <p class="about-content">
     Role: UX Researcher, UX Designer | Gordon Food Service
  </p>
  <p class="about-content">
     MarketConnection Research Study 
     <br>2018
  </p>

</div>
</div>

<div class="project-description">

<!-- CONTAINER START -->
<div class="about-container work-content">

  <h3>The Project</h3>
  <p class="about-content">
     MarketConnection, is a resource center for the CDS (customer development specialist) sales reps at Gordon Food Service. It offers extensive information regarding sales training and onboarding, new product releases and item codes, recipe decks, customer swag, industry publications and more. For this project, I was tasked with conducting user research to understand what opportunities existed to improve the current MarketConnection experience and usability.
     <br>
     <br>
     <strong>The Problem:</strong> While MarketConnection is an important hub for sales - it has also long been a dumping ground for multiple content contributors, with no one managing what went in. This lead to redundant information being uploaded over time, information becoming outdated, dead ends on the site and multiple layers and levels just to access one piece of information. From a usability perspective, the site also was not responsive for mobile usage or WCAG compliant.
     <br>
     <br>
     <strong>The Goal:</strong> Better understand how US and Canadian sales, use and experience MarketConnection and/or general sales training and product awareness.
     <br>
  </p>

  <h3>Research</h3>
  <p class="about-content">
     <strong>2 weeks. 14 recruits. 8 Interviews completed.</strong>
     <br>
     <br>
     MarketConnection, is only available for our US sales reps. However, we have a large team of sales reps in Canada as well. It was important that we got insights from US sales, as they’re a current user base. Canada was just as important though, since MarketConnection could be made available to them in the future.
      <br>
      <br>
     For this study, I partnered with two of my product owners. I would lead, and they would observe and notetake. All interviews were recorded with the participants consent. For the US sales interviews, I ran 40 minute sessions with 20 minutes dedicated to the interview and the remaining time dedicated to completing a card sorting exercise. 
		 <br>
     <br> 
		 <strong>Key Findings:</strong> 
     <br>
     <strong>(1)</strong> Sales reps wanted content displayed, that was relevant to their customer base and regional territory. <strong>(2)</strong> Better search functionality is a must. <strong>(3)</strong> Offline accessibility would be a big help, because sales reps may not always have access to wifi or a data signal, depending on a customer’s location geographically or structurally. 
     <br>
     <br>
     Based on the card sorting exercise, we determined that some of the most popular resources were for - <strong>culinary trends and recipe decks, food industry market reports, and healthcare segment resources</strong>. Below is brief snippet from the exercise.
		 <br>
		 <br>
  </p>

  <img src="../images/card-sort.png" id="gn-sample" class="sample-padding">

  <h3>Evaluation</h3>
  <p class="about-content">
     After the conclusion of the user interviews, I was able to take my findings and distill them into personas representing US and Canadian sales reps. I also felt it was appropriate to provide an empathy map, to really illustrate a sales rep's day-to-day environment and interactions.
     <br>
     <br>
  </p>

  <img src="../images/nc-persona.png" id="gn-sample" class="sample-padding">
  <img src="../images/ca-persona.png" id="gn-sample" class="sample-padding">
  <img src="../images/mc-empathy.png" id="gn-sample" class="sample-padding">

  <h3>Result</h3>
  <p class="about-content">
     At this time, the MarketConnection project has been postponed. I compiled my research findings, and ux assets into a report that I was able to present to the stakeholder group.
     <br>
     <br>
  </p>
  
</div>
</div>


<!-- SITE CREATOR INFO --> 

<!-- 
Title: Dana Thomas | UX Designer
Description: Online Web and Design Portfolio
Author: Dana Thomas
Author URL: http://www.dnathoms.co/
Tags: user interface, experience, visual design, web
-->





