<footer>
  <div class="footer-container">
    <p class="copyright">&copy 2020 Dana Thomas</p> 

    <a href="https://behance.net/dthomas" class="link" target="blank">   
      behance
    </a>
    <a href="https://www.linkedin.com/in/dana-thomas1/" class="link" target="blank">
      linkedIn
    </a>
  </div>
</footer>