<header>
	<a name="home"></a>
	<nav>
    <a href="/" class="site-logo">
      <img src="../images/websafeLogo-01.svg" class="logo">
    </a>

    <a href="/" class="link">home</a>
    <a href="/#gallery" class="link my-gallery">work</a>
    <a href="/#about" class="link my-blurb">about</a>
    <a href="https://drive.google.com/file/d/1UWBRTvp4dbyHEMTdtY4ArbFrl9w4Et_-/view?usp=sharing" class="link" target="_blank">resume
    </a>
	</nav>	
</header>