---
title: Dana Thomas | UX/UI Designer
my_list:
 - featured work
 - about
 - resume
---


<!-- LANDING PAGE START -->

<div class="landing">
<a name="home"></a>

<div class="landing-container">
<div class="landing-intro">  
  <h1>User Interface &amp Experience <span class="aqua">Design.</span></h1>
  <h3 class="landing-caption">Greetings from <span class="aqua">Dana Thomas.</span> Welcome to my design portfolio.</h3>
</div>

<a href="#gallery" class="button">VIEW MY WORK</a>
</div>

</div>

<!-- END LANDING PAGE  -->


<!---------- PROJECT CONTENT START ---------->

<div class="project">
<a name="gallery"></a>
<h1 class="project-title" id="gallery">Featured Work</h1>
<p class="project-caption">
  For a more diverse collection of my work, visit my <a href="https://behance.net/dthomas" class="social2" target="blank">Behance.com</a> page.
</p>

<div class="cards">

  <a class="card" href="/streetsmart/">
    <div class="card-image ssapp"></div>
    <p class="card-title blue-site">
      StreetSmart
    </p>
  </a>

  <a class="card" href="/homepage-redesign/">
    <div class="card-image gn"></div>
    <p class="card-title yellow-site">
      Homepage Redesign: GFS.com/ca
    </p>
  </a>

  <a class="card" href="/marketconnection-research/">
    <div class="card-image spcentral"></div>
    <p class="card-title yellow-site">
      MarketConnection Research Study 
    </p>
  </a>

  <a class="card" href="">
    <div class="card-image gfsdm"></div>
    <p class="card-title yellow-site">
      Access Manager - Coming Soon
    </p>
  </a>

  <a class="card" href="https://www.behance.net/gallery/42631645/PNC-App-UXUI-Refresh">
    <div class="card-image pnc"></div>
    <p class="card-title">
      PNC Virtual Wallet Refresh
    </p>
  </a>

<!--   <a class="card" href="/gfs-homepage/">
    <div class="card-image logotypes"></div>
    <p class="card-title bluer-site">
      Coming Soon: GFS.com
    </p>
  </a> -->

  <a class="card" href="/gfs-navigation-menu/">
    <div class="card-image menu-update"></div>
    <p class="card-title bluer-site">
      GFS.com Navigation Menu
    </p>
  </a>

  <!-- <a class="card" href="/gfs-style-guide/">
    <div class="card-image logotypes"></div>
    <p class="card-title bluer-site">
      Gordon Food Service: Digital Style Guide
    </p>
  </a> -->

</div>
</div>

<!---------- END PROJECT CONTENT ---------->    



<!---------- Back to Top ---------->

<div class="btn-return">
  <a href="#home" class="return"><img src="images/return-icon-reverse.svg" alt="back to top" height="150" width="auto"></a>
</div>



<!---------- ABOUT ME SECTION START ---------->

<div class="about">
<a name="about"></a> 

<!-- CONTAINER START -->
<div class="about-container">

  <h2 class="about-intro">Hello, I'm Dana Thomas. <br>A UX/UI Designer based in Michigan.</h2>

  <p class="about-content">
     Currently I work at Gordon Food Service. My work ranges from customer-facing B2B products such as the Online Ordering eCommerce platform and GFS.com/ca, to enterprise applications in areas such as item pricing and Identity as as Service.
  </p>
  <p class="about-content">
     I love collaboration in its many forms. From a product standpoint, I love getting a feel for the psychological and sociological drivers that motivate the user. Some interests include - microinteractions, product design, brand development.
  </p>
  <p class="about-content">
     In my free time, you can find me tinkering with various ideas, sewing, catching up on a Netflix show or my favorite activity - eating. Lunch time really should be a national holiday...
  </p>

<!-- EMAIL CONTACT LINK -->

  <p class="about-content">
    Want to chat? Find me here at <a href="mailto:d.thomas014@gmail.com" class="email"> d.thomas014@gmail[dot]com</a> or <a href="https://www.linkedin.com/in/dana-thomas1/" class="link social" target="blank">Linkedin</a>.
  </p>

</div>
</div>


<!-- END ABOUT ME SECTION -->


  <!-- SITE CREATOR INFO --> 

  <!-- 
  Title: Dana Thomas | UX Designer
  Description: Online Web and Design Portfolio
  Author: Dana Thomas
  Author URL: http://www.dnathoms.co/
  Tags: user interface, experience, visual design, web
  -->





